.galleryImage {
  width: 100%;
  height: 100%;
}
.galleryImageText {
  top: 170px;
  position: absolute;
}
.galleryImageWrapper {
  width: 100%;
  height: 100%;
  position: relative;
}
.galleryImageText:nth-child(2) {
  left: 20px;
}

.galleryImageText:nth-child(3) {
  left: 280px;
}
